<ul class="navbar-nav ml-auto">
    <li class="nav-item mx-lg-2">
        <a class="nav-link unstyled-link {% block all_post %}{% endblock %}" href="{% url 'posts:post_list' %}">ALL</a>
    </li>
    <li class="nav-item mx-lg-2">
        <a class="nav-link unstyled-link {% block trend_post %}{% endblock %}" href="{% url 'posts:trending_post' %}">TRENDING</a>
    </li>
    <li class="nav-item mx-lg-2 dropdown">
        <a class="nav-link unstyled-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CATEGORY
        </a>
        <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
            <div class="row mx-0 my-menu">
            </div>
        </div>
    </li>
</ul>
<!--
<div class="col-md-4">
    <a href="#">Action</a>
</div>
-->
