{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head %}
	<link href="{% static 'posts/css/post_list.css' %}" rel="stylesheet">
	<script src="#"></script>  <!-- {% static 'js/questions.js' %} -->
{% endblock %}

{% block body %}
<!-- Blog Post list-->
{% if search_posts %}
{% for post in search_posts %}
	<div class="row post-card no-gutters mb-3">
		<div class="col-md-4">
			<img class="card-img rounded-0" src="{{ post.cover_thumb.url }}" alt="{{ post.title }}">
		</div>
		<div class="col-md-8">
			<div class="card-block pl-md-3">
				<h3>{{ post.title }}</h3>
				<p>{{ post.content|truncatechars:120|safe }}</p>
				<span class="mr-3">
					<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ post.updated.date }}
				</span>
				<span class="mr-3">
					<i class="fa fa-tag" aria-hidden="true"></i>
					{% for tag in post.category.all %}
						<a href="{% url 'posts:category_list' tag.title %}" class="unstyled-link">&nbsp;{{ tag.title }}</a>
					{% endfor %}
				</span>
			</div>
		</div>
	</div>
{% endfor %}


	<!-- Pagination -->
	<ul class="pagination justify-content-center my-3">
		{% if posts.has_previous %}
			<li class="page-item">
		  		<a class="page-link" href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
			</li>
		{% else%}
			<li class="page-item disabled">
		  		<a class="page-link" href="#">&larr; Newer</a>
			</li>
        {% endif %}

		{% if posts.has_next %}
			<li class="page-item">
			  	<a class="page-link" href="?page={{ posts.next_page_number }}">Older &rarr;</a>
			</li>
		{% else %}
			<li class="page-item disabled">
			  	<a class="page-link" href="#">Older &rarr;</a>
			</li>
		{% endif %}
	</ul>
{% else %}
    <h4>Your Search query was not found!</h4>
{% endif %}
{% endblock %}

{% block sidebar %}
	{% include 'posts/newest_posts.html' %}
{% endblock %}